alembic==1.8.1
Flask==2.2.2
Flask_Injector==0.14.0
flask_marshmallow==0.14.0
Flask_Migrate==3.1.0
Flask_SQLAlchemy==2.5.1
injector==0.20.1
marshmallow==3.18.0
python-dotenv==0.21.0
SQLAlchemy==1.4.41
